<h1>Forge test server home page</h1>
<p>Pages:</p>
<ul>
    <li><a href="/plaintext">Plain text</a></li>
    <li><a href="/static_html.html">Static HTML file</a></li>
    <li><a href="/pathinfo/45/11/12">Path Info</a></li>
    <li><a href="/myconfig">My configuration loading (my.conf)</a></li>
</ul>